body {
  font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background: linear-gradient(to right, #fbc2eb, #a6c1ee); 
  color: #333;
  font-size: 16px;
margin: 0;
padding: 0;
  }
  
  h1 {
    font-size: 32px;
  border-left: 5px solid #088da5;
  padding-left: 10px; 
  padding-bottom: 16px;
  margin-bottom: 24px;
  }
  
  p {
  color: #666;
  }
  
  a {
    color: #083239;
    }
    
    form {
    font-size: 16px;
    padding: 30px 20px;
    }
  
  input, textarea {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  }
  
  form {
  max-width: 700px;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  input[type="text"],
  input[type="number"] {
    padding: 6px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #dcdcdc;
    width: 90%;
  }
  
  /* 質問と選択肢を区切る */
/* .question-text {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-bottom: 20px;
  margin-bottom: 30px;
} */

/* 選択肢をインライン表示 */  
.question-text input[type="radio"],
.question-text label {
  display: inline-block;
  vertical-align: middle;
}

/* 選択肢の余白、フォント揃える */
.question-text label {
  margin-left: 10px; 
  font-size: 16px;
}

.question-text input[type="radio"]{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

/* 回答ボタンを目立たせる */
input[type="submit"] {
  border-bottom: 1px solid #ccc;
  background-color: #558dea;
  color: #fff;
  border-radius: 16px;
  padding: 10px 20px;
  font-size: 14px; 
}

/* 要素の余白 */
.question-text,
input[type="submit"] {
  margin-bottom: 30px;
}
  
  /* 行間 */
  p,
  form {
  margin-bottom: 30px;
  }

  div[class="question-text"]{
    font-size: 20px;
  }
  
  /* 画面の横幅を制限 */
  .container {
  max-width: 700px;
  margin: 0 auto;
  }
  
  /* 全体の背景 */
  body {
  background-color: #f7f7f7;
  }
  
  /* 枠線 */
  section {
  padding: 30px 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  }