body {
    font-family: "Yu Gothic", sans-serif;
    padding: 30px;
    background: #fff;
  }

  h1, h2, h3 {
    border-left: 5px solid #088da5;
    padding-left: 10px;
  }
  
  h1 {
    font-size: 28px;
    border-color: #088da5;
  }

  h2 {
    font-size: 24px;
    border-color: #5dca88;
  }

  body h3 {
    transition: 0.5s;

    color: white;

    background: steelblue;
    
    padding: 1% 2%;
  }

  body[open] h3 {
    background: midnightblue;
    padding-left: 4%;
  }

  body ul {
    list-style: none;
    padding-left: 0;
  }

 body li {
    margin: 2% 4%;
    padding: 8px 16px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px #aaa;
  }


  a {
    color: #088da5;
  }

  a:hover {
    text-decoration: none;
  }

  input[type="text"] {
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  input[type="submit"] {
    padding: 4px 12px;
    background-color: #088da5;
    color: white;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
  }
