body {
  font-family: "Yu Gothic", sans-serif;
  padding: 30px;
  width: 50%;
  background: #fff;
}

h1, h2, h3, h4, h5 {
  border-left: 5px solid #088da5;
  padding-left: 10px; 
}

h1 {
  font-size: 28px;
  border-color: #088da5;
}

#username {
  color: #0489cc; 
  background-color: #e5f2ff;
  padding: 4px 8px;
  border-radius: 4px;  
  box-shadow: 1px 1px 2px #aaa; 
}

h2 {
  font-size: 24px;
  border-color: #5dca88;
}

h3 {
  transition: 0.5s;
  color: white;
  background: steelblue;
  padding: 1% 2%;  
  cursor: pointer;
}
/* 
h3.open {
  background: midnightblue;
  padding-left: 4%;
} */

form {
  margin: 4% 4%; 
  display: none;
}
/* 
h3.open + form {
  display: block;
} */

h3 form input {
  display: inline-block;
}
/* 
input[type="submit"],
input[type="reset"] {
  display: inline-block;
  margin-top: 10px;  
  margin-right: 10px;
} */

h4 {
  transition: 0.5s;
  color: white;
  background: steelblue;
  padding: 1% 2%;
  cursor: pointer;   
}

h4.open {
  background: midnightblue;
  padding-left: 4%;
}

ul {
  margin: 2% 4%;
  list-style: none;
  padding-left: 0;
}

li {
  display: none;
  padding: 8px 16px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px #aaa;
  cursor: pointer;
}

h4.open + ul li{
  display: block;
}

h5 {
  transition: 0.5s;
  color: white;
  background: steelblue;
  padding: 1% 2%;
  cursor: pointer;
}

h5.open {
  background-color: midnightblue;
  padding-left: 4%;
}

p {
  margin: 4% 4%; 
  display: none;
}

button {
  margin: 4% 4%; 
  display: none;
}

h5.open + p button input{
  display: block;
}



a {
  color: #088da5;
}

a:hover {
  text-decoration: none; 
}

input[type="text"] {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;  
}


input[type="submit"],input[type="reset"],input[type="range"] {
  padding: 4px 12px;
  background-color: #088da5;
  color: white;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}