<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>アンケート</title>
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>[[${Class.className}]]</h1>

  <div sec:authorize="hasRole('ROLE_ADMIN')" th:object="${questions}">
    <a th:each="questions :${questions}">
      <ul>
        <li>id:[[${questions.getRoomId()}]]質問文:[[${questions.getQ_content()}]]</li>
      </ul>
    </a><br>
    <a id="asum"></a>
    <br>

    <form th:action="@{/addQuestion(id=${Class.classId})}" method="post" id="question" th:object="${Class}">
      質問文<input type="text" name="q_content" /><br><br>

      回答文<br>
      <input type="text" name="a_content1" /><br>
      <input type="text" name="a_content2" /><br>
      <input type="text" name="a_content3" /><br>
      <input type="text" name="a_content4" /><br>
      <input type="submit" value="追加"><input type="reset" value="リセット">
    </form>
    <!-- <script th:inline="javascript" src="./js/answerform.js">
      makeAnsForms();
    </script>
    <form id="answer"></form> -->
  </div>

  <div sec:authorize="hasRole('ROLE_USER')">
    <p th:each="questions:${questions}">
      質問文:[[${questions.getQ_content()}]]<br><br>
    </p>
    <span th:each="answers:${answers}">
      [[${answers.getA_content()}]]
    </span>
    <a th:each="questions:${questions}">
      <form th:action="@{/addAnswer(id=${Class.classId}, q_id=${questions.getQuestionId()})}" method="post"
        id="send_answer">
        <input type="number" name="send_answer" min="1" max="4" step="1" />
        <input type="submit" value="回答">
      </form>
    </a>
  </div>

  <a href="/waitingRoom">戻る</a>

  <script>
    /* document.addEventListener('DOMContentLoaded', function () {
      var radioLabels = document.querySelectorAll('.radio_label');
      radioLabels.forEach(function (label) {
        label.addEventListener('click', function (event) {
          event.preventDefault();
          var inputEl = this.querySelector('input');
          inputEl.checked = !inputEl.checked;
        });
      });
    }); */
    window.onload = function () {
      var sse = new EventSource('/SumSAns');
      sse.onmessage = function (event) {
        var data = JSON.parse(event.data);
        var output = "";
        for (var i = 0; i < data.length; i = i + 4) {
          output += "質問Id: " + data[i].questionId + "<br>";
          output += "選択肢1: " + data[i].amount + ", ";
          output += "選択肢2: " + data[i + 1].amount + ", ";
          output += "選択肢3: " + data[i + 2].amount + ", ";
          output += "選択肢4: " + data[i + 3].amount + "<br>";
        }
        document.getElementById('asum').innerHTML = output;
      }
    }
  </script>
</body>

</html>
