<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>待合室</title>
</head>

<body>
  <h1>待合室</h1>

  <h2>Hi
    <div sec:authentication="name" />
  </h2>

  <h3>収集中のアンケート</h3>
  <div th:if="${onroom}">
    <ul>
      <li th:each="room : ${onroom}">[[${room.roomName}]]</li>
    </ul>
  </div>

  <h3>収集済みのアンケート</h3>
  <div th:if="${offroom}">
    <ul>
      <li th:each="room : ${offroom}">[[${room.roomName}]]</li>
    </ul>
  </div>

  <a href="/logout">ログアウト</a>
  <a href="/class">授業ルームへ</a>
</body>

</html>
