<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>アンケート</title>
</head>

<link rel="stylesheet" href="class.css">

<body>
  <a href="/logout">ログアウト</a>
  <h1>[[${Class.className}]]</h1>

  <div sec:authorize="hasRole('ROLE_ADMIN')" th:object="${questions}">
    <a th:each="questions :${questions}">
      <ul>
        <li>id:[[${questions.getQuestionId()}]] 質問文:[[${questions.getQ_content()}]]</li>

        <li><a1 th:href="@{/delete(id=${questions.getQuestionId()})}">id:[[${questions.getQuestionId()}]] 削除</a1></li>

      </ul>
    </a><br>
    <a id="asum"></a>
    <br>

    <form th:action="@{/addQuestion(id=${Class.classId})}" method="post" id="question" th:object="${Class}">
      質問文<input type="text" name="q_content" required /><br><br>

      回答文<br>
      <input type="text" name="a_content1" required /><br>
      <input type="text" name="a_content2" required /><br>
      <input type="text" name="a_content3" required /><br>
      <input type="text" name="a_content4" required /><br>
      <input type="submit" value="追加"><input type="reset" value="リセット">
    </form>
    <!-- <script th:inline="javascript" src="./js/answerform.js">
      makeAnsForms();
    </script>
    <form id="answer"></form> -->
  </div>

  <div sec:authorize="hasRole('ROLE_USER')">
    <a th:each="questions:${questions}">
      <div class="question-text">
        質問文:[[${questions.getQ_content()}]] <br>
      <form th:action="@{/addAnswer(id=${Class.classId}, q_id=${questions.getQuestionId()})}" method="post"
        id="send_answer">

        <div th:each="answers, stat:${answers}"
          th:if="${questions.getQuestionId() == answers.getQuestionId() && answers.getAnswerId() % 4 == 1}">
          <input type="radio" th:attr="id='send_answer' + ${stat.count}" name="send_answer" value="1" />
          <label th:attr="for='send_answer' + ${stat.count}">
            [[${answers.getA_content()}]]
          </label><br>
        </div>

        <div th:each="answers, stat:${answers}"
          th:if="${questions.getQuestionId() == answers.getQuestionId() && answers.getAnswerId() % 4 == 2}">
          <input type="radio" th:attr="id='send_answer' + ${stat.count}" name="send_answer" value="2" />
          <label th:attr="for='send_answer' + ${stat.count}">
            [[${answers.getA_content()}]]
          </label><br>
        </div>

        <div th:each="answers, stat:${answers}"
          th:if="${questions.getQuestionId() == answers.getQuestionId() && answers.getAnswerId() % 4 == 3}">
          <input type="radio" th:attr="id='send_answer' + ${stat.count}" name="send_answer" value="3" />
          <label th:attr="for='send_answer' + ${stat.count}">
            [[${answers.getA_content()}]]
          </label><br>
        </div>

        <div th:each="answers, stat:${answers}"
          th:if="${questions.getQuestionId() == answers.getQuestionId() && answers.getAnswerId() % 4 == 0}">
          <input type="radio" th:attr="id='send_answer' + ${stat.count}" name="send_answer" value="4" />
          <label th:attr="for='send_answer' + ${stat.count}">
            [[${answers.getA_content()}]]
          </label><br>
        </div>

        <input type="submit" value="回答">
      </form><br><br>
    </a>
  </div>

  <a href="/waitingRoom">戻る</a>

  <script>
    /* document.addEventListener('DOMContentLoaded', function () {
      var radioLabels = document.querySelectorAll('.radio_label');
      radioLabels.forEach(function (label) {
        label.addEventListener('click', function (event) {
          event.preventDefault();
          var inputEl = this.querySelector('input');
          inputEl.checked = !inputEl.checked;
        });
      });
    }); */

    window.onload = function () {
      var sse1 = new EventSource('/SumSAns');
      sse1.onmessage = function (event) {
        var data = JSON.parse(event.data);
        var output = "";
        for (var i = 0; i < data.length; i = i + 4) {
          output += "質問Id: " + data[i].questionId + "<br>";

          output += "選択肢1「" + data[i].a_content + "」: " + data[i].amount + ", ";
          output += "選択肢2「" + data[i + 1].a_content + "」: " + data[i + 1].amount + ", ";
          output += "選択肢3「" + data[i + 2].a_content + "」: " + data[i + 2].amount + ", ";
          output += "選択肢4「" + data[i + 3].a_content + "」: " + data[i + 3].amount + "<br>";

        }
        document.getElementById('asum').innerHTML = output;
      }
    }
  </script>
</body>

</html>
