<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="font-size.css"> 
  <title>待合室</title>
</head>

<link rel="stylesheet" href="waitroom.css">

<body>
  <h1>待合室</h1>

  <h2><span id="username">Hi [[${loginName}]]</span></h2>

  <div sec:authorize="hasRole('ROLE_ADMIN')" th:object="${class}">
    <h3>アンケートを集計する科目を追加</h3>
      <form th:action="@{/addClass}" method="post">
        <input type="text" name="className"/>
        <input type="submit" value="追加"><input type="reset" value="リセット">
      </form>
  </div>

    <h4>収集中のアンケート</h4>
    <ul>
      <li th:each="class : ${classlist}"><a th:href="@{/class(id=${class.classId})}"> [[${class.className}]]</a></li>
    </ul>

    <!-- <h5 id="displaySettings" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
      画面設定
      <span style="display:none;">👁‍🗨</span>
    </h5>
  
    <div id="settingMenu" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
      <p>文字サイズ設定</p>
      <button onclick="fontSizeUp()">A+</button>
      <button onclick="fontSizeDown()">A-</button>
      <p>背景色設定</p>
      <input type="range" min="0" max="100" value="50" id="bgColor">
    </div>
  <br> -->
  <a href="/logout">ログアウト</a>
</body>

<script>
  window.onload = function() {

// CSSのリロードを強制的に実行
const links = document.getElementsByTagName("link");
for (let i = 0; i < links.length; i++) {
  const link = links[i];
  link.href = link.href; 
}

// あるいは
// location.reload(true);

}

const h3 = document.querySelector('h3');

  h3.addEventListener('click', () => {
    h3.classList.toggle('open');

    const items = document.querySelectorAll('input');

    items.forEach(item => {
      item.style.display = h3.classList.contains('open') ? 'block' : 'none';
    });
  });

  const h4 = document.querySelector('h4');
  // const h5 = document.querySelector('h5');

  h4.addEventListener('click', () => {
    h4.classList.toggle('open');

    const items = document.querySelectorAll('li');

    items.forEach(item => {
      item.style.display = h4.classList.contains('open') ? 'block' : 'none';
    });
  });

  h5.addEventListener('click', () => {
    h5.classList.toggle('open');

    const items = document.querySelectorAll('p, button, input');

    items.forEach(item => {
      item.style.display = h5.classList.contains('open') ? 'block' : 'none';
    });
  });

const links = document.querySelectorAll('li a');

links.forEach(link => {
  const r = Math.floor(Math.random() * 256);
  const g = Math.floor(Math.random() * 256); 
  const b = Math.floor(Math.random() * 256);
  
  link.style.color = `rgb(${r}, ${g}, ${b})`;
});

const usernameDOM = document.getElementById("username");
usernameDOM.style.fontSize = "20px";
usernameDOM.style.fontWeight = "bold";

// function fontSizeUp() {
//     document.body.style.fontSize = parseFloat(getComputedStyle(document.body).fontSize) + 1 + 'px';
//   }

//   // フォントサイズを下げる関数  
//   function fontSizeDown() {
//     document.body.style.fontSize = parseFloat(getComputedStyle(document.body).fontSize) - 1 + 'px'; 
//   }
  
//   const bgInput = document.getElementById("bgColor");

// // 値を0-255のRGB値に変換
// const convert = (val) => Math.round((255 * val) / 100);  

// bgInput.addEventListener("input", () => {
//   const red = convert(bgInput.value); 
//   const green = red;
//   const blue = red;
  
//   const rgbColor = `rgb(${red}, ${green}, ${blue})`; 
  
//   document.body.style.backgroundColor = rgbColor;
// });


</script>

</html>
