<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="font-size.css"> 
  <title>待合室</title>
</head>

<link rel="stylesheet" href="waitroom.css">

<body>
  <h1>待合室</h1>

  <h2><span id="username">Hi [[${loginName}]]</span></h2>

  <div sec:authorize="hasRole('ROLE_ADMIN')" th:object="${class}">
    <h3>アンケートを集計する科目を追加</h3>
      <form th:action="@{/addClass}" method="post">
        <input type="text" name="className"/>
        <input type="submit" value="追加"><input type="reset" value="リセット">
      </form>
  </div>

    <h4>収集中のアンケート</h4>
    <ul>
      <li th:each="class : ${classlist}"><a th:href="@{/class(id=${class.classId})}"> [[${class.className}]]</a></li>
    </ul>

    <button onclick="fontSizeUp()">A+</button>
  <button onclick="fontSizeDown()">A-</button>

  <!-- 色のコントラスト切り替えボタン -->
  <button onclick="toggleContrast()">色のコントラスト変更</button>
  <a href="/logout">ログアウト</a>
</body>

<script>
  window.onload = function() {

// CSSのリロードを強制的に実行
const links = document.getElementsByTagName("link");
for (let i = 0; i < links.length; i++) {
  const link = links[i];
  link.href = link.href; 
}

// あるいは
// location.reload(true);

}

const menu = document.querySelector('h4');

menu.addEventListener('click', () => {
  menu.classList.toggle('open');
  
  const items = document.querySelectorAll('li');
  
  items.forEach(item => {
    item.style.display = menu.classList.contains('open') ? 'block' : 'none';
  });
});

const menu3 = document.querySelector('h3');

menu3.addEventListener('click', () => {
  menu3.classList.toggle('open');
  
  const items = document.querySelectorAll('input');
  
  items.forEach(item => {
    item.style.display = menu3.classList.contains('open') ? 'block' : 'none';
  });
});

const links = document.querySelectorAll('li a');

links.forEach(link => {
  const r = Math.floor(Math.random() * 256);
  const g = Math.floor(Math.random() * 256); 
  const b = Math.floor(Math.random() * 256);
  
  link.style.color = `rgb(${r}, ${g}, ${b})`;
});

const usernameDOM = document.getElementById("username");
usernameDOM.style.fontSize = "20px";
usernameDOM.style.fontWeight = "bold";

function fontSizeUp() {
    document.body.style.fontSize = parseFloat(getComputedStyle(document.body).fontSize) + 1 + 'px';
  }

  // フォントサイズを下げる関数  
  function fontSizeDown() {
    document.body.style.fontSize = parseFloat(getComputedStyle(document.body).fontSize) - 1 + 'px'; 
  }
  
  // 背景とフォントの色を切り替える
  function toggleContrast() {
    document.body.classList.toggle('high-contrast');
  }
</script>

</html>
